.no-hover {
    opacity: 1 !important;
}

.header {
    height: 120px;
    background: linear-gradient(0, #f36534, #ea3f2d);
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar__list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 4px 0 0 0;
    display: flex;
}

.navbar__item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.navbar__item,
.navbar__item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.navbar__item,
.navbar__item-link,
.navbar__icon-link {
    display: inline-flex;
    align-items: center;
}

.navbar__item:hover,
.navbar__icon-link:hover,
.navbar__item-link:hover {
    opacity: 0.7;
    cursor: pointer;
}

.navbar__item--semibold {
    font-weight: 400;
}

.navbar__item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fb9086;
    height: 14px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar__icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.navbar__icon {
    font-size: 1.8rem;
    margin: 0 6px;
}

.navbar__title--no-pointer {
    cursor: text;
    color: var(--white-color);
}


